main{
    display: flex; 
    margin: 150px; 
    margin-top: 30px; 
}

html{
    scroll-behavior: smooth; 
}

#banner img{
    width: 700px; 
    height: 160px; 
   margin-left: 25%; 
}


#top{
    padding: 18px; 
    background-color: #EFF1F3; 
    margin: 0; 
}

.nav_cirlce{
    background-color: yellow;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%; 
    margin-top: 0; 
    margin-bottom: 0; 
    margin-right: 50px; 
    font-size: 16px;
    font-weight: bold; 
    display: inline;
    margin-bottom: 0; 

}

#movies_overlay, #shopping_overlay, #videos_overlay, #news_overlay{
    position: absolute; 
    background-color: rgba(0,0,0,0.5); 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    transition-property: opacity, visibility; 
    transition-duration: 1s; 
    transition-timing-function: ease; 
}

article{
    box-sizing: border-box; 
     background-color: #ffe6f0; 
     padding: 20px; 
     width: 30vw; 
     height:40vh; 
     position: absolute; 
     top: 50%; 
     left: 50%; 
     transform: translate(-50%,-50%); 
     overflow-y: scroll;
}

article h2{
    font-size: 20px; 
    margin-bottom: 5px; 
}

article li{
    font-size: 16px; 
    font-weight: normal; 
    text-decoration: underline; 
    margin-bottom: 10px; 
}

body{
    margin: 0; 
}
header img{
    margin: 0; 
    margin-left: 100px; 
    margin-right: 10px; 
    padding: 0; 
    display: inline; 
    margin-bottom: 0; 
    
}

#feminist_feed{
    font-family: Heebo;
    font-weight: bold;
    font-size: 33px;
    color: #E22626;
    margin-bottom: 0; 
}

ul {
    margin-left: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0; 
}
#movies{
    margin-left: 400px; 
}
.navbar {
    margin-right: 70px; 
    font-size: 16px;
    font-weight: bold; 
    display: inline;
    margin-bottom: 0; 

}
.learn_more{
    display: inline; 
}


a:hover{
    color: #0066ff; 
}

#sign_in{
    font-weight: normal
}

header a{
    text-decoration: none;
    color: black; 
}

.circle{
    background-color: yellow;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%; 
    margin-top: 0; 
    margin-bottom: 0; 
    margin-left: 150px; 
}

.circle p{
    text-align: center; 
    font-family: Heebo;
    font-weight: bold;
    font-size: 22px;
    text-align: center; 
    margin-bottom: 0; 
}
#author_bar{
    margin-top: 20px; 
    padding: 4px 0 84x 0; 
    text-align: center; 
    border-bottom: 1.8px solid lightgrey ; 
    border-top: 1.8px solid lightgrey ; 
}

#author_bar h2{ 
    font-size: 15px; 
    margin-bottom: 5px; 
}
#community{
    margin-top: 0; 
    text-decoration: underline; 
}


date{
    font-size: 14px;
    color: #9E9E9E;
    display: inline block; 
}

.left{
    margin: 0; 
    padding: 0; 
    width: 60%; 
    
}

.right{
    width: 40%; 
}

body, header{
    font-family: "Heebo";
}

h2{
    margin-bottom: 0; 
    font-size: 50px; 
    font-weight: 800; 
    
}

h3{
    margin-top: 10px; 
    margin-bottom: 0; 
    font-size: 25px; 
    margin-right: 80px; 
}

h4{
    margin-top: 10px;
    font-size: 18px; 
    font-style: italic; 
    font-weight: normal; 
}


.question{
    width: 663px;
    height: 118px;
    background-color: #ff0000; 
    color: white; 
    font-weight: bold; 
    font-size: 40px; 
    margin-bottom: 50px; 
    line-height: 118px; 
    margin-top: 50px; 
}

.question h3{
    color: white; 
    font-weight: bold; 
    font-size: 32px; 
    text-align: center; 

}

/* .A:link, .B:link, .C:link, .D:link {
    line-height: 70px; 
    height: 70px;
    width: 308px;
    background-color: #FE8BF2; 
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px; 
} */



a{
    text-decoration: none; 
    color: black;
}


.A, .B, .C, .D{
    line-height: 70px; 
    height: 70px;
    width: 322px;
    background-color: #FE8BF2; 
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px; 
}
.A:hover, .B:hover, .C:hover, .D:hover, .last:hover{
    cursor: pointer; 
    opacity: 50%; 

}

.choice-container-one .A, .choice-container-one .B, .choice-container-one .C, .choice-container-one .D{
    width: 300px; 
    height: 300px; 
    margin-bottom: 30px; 
    margin: auto; 

} 
 

.choice-container-two .A, .choice-container-two .B, .choice-container-two .C, .choice-container-two .D{
    background-color: #FE8BF2
}  

.choice-container-three .A{
    background-color: lightblue; 
}

.choice-container-three .B{
    background-color: lightgreen; 
}

.choice-container-three .C{
    background-color: lavender; 
  
}
.choice-container-three .D{
    background-color: lightpink; 
}



.choice-container-four .A, .choice-container-four .B, .choice-container-four .C, .choice-container-four .D{
    background-color: #9542E9; 
} 

.choice-container-five .A, .choice-container-five .B, .choice-container-five .C, .choice-container-five .D{
    background-color: lightblue; 
} 
 


.choice-container-one,
.choice-container-two, 
.choice-container-three,
.choice-container-four,
.choice-container-five
{
    display: flex; 
}

.choice-left, .choice-right{
    width: 50%; 
}


img{
    margin-top: 100px; 
    margin-left: 120px; ;
}
.hidden{
    display: none; 
}

.showing{
    display: visible; 
}

#icon_rbg, #icon_malala, #icon_aoc, #icon_simone{
    width: 664px;
    height: 689px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 51%, rgba(252,176,69,1) 100%);
    padding: 20px; 
}

#icon_malala, #icon_aoc{
    height: 889px; 
}
#icon_rbg{
    height: 770px; 
}

#icon_aoc{
    height: 830px; 
}

#icon_rbg h2, #icon_malala h2, #icon_aoc h2, #icon_simone h2
{
    font-weight: bold;
    font-size: 40px;
    color: white; 
    margin: auto;  
    margin-top: 0; 
    margin-bottom: 30px; 
    margin-left: 100px; 
    display: inline; 
    
}

#icon_rbg h3, #icon_malala h3, #icon_aoc h3, #icon_simone h3
{
    font-style: italic;
    font-size: 30px;
    font-weight: normal; 

}


#box{
    width: 520px;
    height: 560px;
    background-color: white; 
    margin: auto; 
    padding: 10px; 
    margin-top: 30px; 
    border-radius: 10px; 
}
#icon_malala #box {
    height: 750px; 
}

#icon_aoc #box{
    height: 700px; 
}

#icon_rbg #box{
    height: 620px; 
}

#box img{
    margin-top: 20px; 
    width: 280px;
    
}



button{
    margin-top: 15px; 
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
    margin-bottom: 30px; 
}

button:hover{
    background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}

footer{
    margin-top: 10px; 
    text-align: center; 
} 

footer ul {
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    list-style-type: none;
}

footer a{
   text-decoration: none; 
   color: grey; 
}


