body{
    background-color: #fcf9ed;
    overflow-x: hidden;
}

div#container {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 0 auto;
}

h1{
  text-align: center; 
  font-size: 80px; 
}
#logo{
    width: 170px; 
    height: 170px; 
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;  
    top: 1.5%;  
    left: 3%;  
}


h4{ 
  position: relative; 
  left: 90%; 
  margin-top: 0; 
}


#inside_logo{
    font-size: 50px; 
    font-weight: bold; 
    text-align: center; 
    padding-top: 40px; 
}

#tag{
    text-align: center; 
    font-style: italic; 
}
#bar{
    text-align: center; 
    border-bottom: 2.3px 
    solid black;
    border-top: 2.3px solid black;
    padding: 12px 0 12px 0; 

}
h2{
    text-align:center; 
    font-size: 55px; 
    font-family: 'DM Serif Display', serif;
    margin-bottom: 0.2em; 
 
}
h4{
    font-style: italic; 
    font-weight:lighter;   
}

h5{
    margin-left: 5%;  
    margin-top: 0.67em;
    margin-bottom: 0.3em; 
    font-size: 15px; 
    letter-spacing: 4px;   
}
h3{
    margin-left: 5%; 
    font-size: 20px; 
    margin-top: 0.67em;
    margin-bottom: 0.67em; 
    font-size: 30px; 
}

h6{
   position: absolute; 
   top: 33%; 
   left: 89%; 
   font-weight: bolder; 
   letter-spacing: 1.5px; 
   margin-top: 0.3em;
   margin-bottom: 0.67em; 
   font-size: 13px;
}

#articles{ 
    margin-left: 5%; 
    column-gap: 50px; 
    margin-right: 5%;  
    column-count: 3; 
    font-family: 'Droid Serif', serif;
    line-height: 1.5; 
    font-size: 18px;
} 

a{
    color: black; 
}

footer{
    display: flex; 
}

footer > div {
    margin: auto;
    text-align: center;
    padding-top: 25px; 
    padding-bottom: 10px; 
}

#footer_elem{
    text-decoration: none; 
}
#footer_elem:hover{
    font-weight: bold; 
}



 
  
  
