
div#container {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 0 auto;
}

body {
    background-color: #cce6ff; 
  
}

@keyframes banner {
    0%   {background-color:midnightblue;}
    50%  {background-color: #930707;}
    100% {background-color: midnightblue;}
}

#banner{
    animation-name: banner;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    width: 100wh; 
    height: 25vh;
    margin-top: 50px; 
    background-color: #930707;  
    text-align: center; 
    font-size: 120px;
    font-weight: bold; 

}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width: 220px; 
    padding: 15px 0 5px; 
    text-align: center; 
    background-color:#cce6ff; 
    border-width: 0px 0px 2px 0px;
}

form label{
    margin-top: 43px; 
    margin-bottom: 5px; 
    font-size: 22px; 
}

form input:last-of-type{
    border-radius: 15px; 
    margin-top: 40px; 
    font-weight: bold; 
    font-size: 25px; 
    color: white; 
    background-color:#930707; 
    width: 270px; 
    height: 60px; 

}


.hidden {
    display: none;
}

.showing {
    display: block;
}

#overlay{
    position: absolute; 
    background-color:  #cce6ff; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    
}

#popup{  
    height: 70px; 
    width: 420px; 
    margin-top: 20px; 
    background: #930707; 
    
}

#overlay h1{
    color: white; 
    font-size: 40px; 
    text-align: center;
    padding-top: 10px; 
    animation: blinking 1.2s linear infinite;
}

  
  @keyframes blinking {
    50% {
      opacity: 0;
    }
  }

#banner_two{
    height: 230px; 
    background: #0A0A70;
}
#overlay h2{
    color: white; 
    font-size: 65px; 
    text-align: center; 
    padding-top: 40px; 
    margin: 0; 
}
#overlay h3{
    color: white; 
    font-size: 60px; 
    text-align: center;
    margin-bottom: 0; 
}


#overlay h4{
    margin-top: 5px; 
    color: white;
    font-size: 20px; 
    text-align: center; 
    text-transform: uppercase; 
    font-weight: bold; 
}

 #overlay section{
    margin-top: 50px; 
    height: 372px;
    width: 800px; 
    background: #930707;
    position: absolute; 
    right: 50px;  
} 

#flag{
    position: absolute; 
    left: 70px; 
    margin-top: 50px; 
    height: 250px;
    width: 430px; 
    background: #CE0909; 

}

#pole{
    position: absolute; 
    left: 60px; 
    margin-top: 50px; 
    width: 10px; 
    height: 372px; 
    background: grey; 

}

#overlay h5{
    color: white; 
    font-size: 30px; 
    text-align: center;
}

#overlay p{
    color: white; 
    font-size: 24px; 
    position: relative; 
    font-weight: normal; 
    left: 20px; 
}

#overlay_footer{
    color: black; 
    position: absolute; 
    top: 800px; 
    left: 10px;  
    font-weight:lighter;
    padding-bottom: 10px;  
}

#footer{
     margin-top: 10px; 
    margin-left: 650px;  
} 

#footer a{
    text-decoration: none; 
    color: grey; 
}