
body{
    background-color: pink; 
}

.rules{
    background-color:lightblue;
    padding: 15px;
    border-style: solid;
    border-color: black;
    margin: 10px; 
}

h1{
    font-family: "Papyrus";
    font-size: 30px; 
}

p{
    font-family: "Papyrus";
}

#main, #center{
    font-family: "Papyrus";
    font-size: 24px;
    color: #696868;

}

img{
    width: 100px; 
}

#center{

    text-align: center; 
}


.flex-container{
    display: flex; 
   
}

.left{
    margin-left: 10%; 
    width: 33%; 
}

.middle{
    width: 33%; 
}

.right{
    width: 33%; 
}

.coin, .coin_two{
    margin-left: 50px; 
    width: 200px;
    height: 200px; 
    border: 1px solid; 
    border-radius: 50%;
}

.coin{
    background-color: lightcoral;
}


.coin_two{
    background-color: lightseagreen; 
}


.inner_coin{
    background-color: #FFCC76;
    width: 150px;
    height: 150px; 
    background-color: transparent;
    border: 1px solid; 
    border-radius: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
}

.coin h2{
    color: black; 
    margin-top: 20px; 
    font-size: 20px; 
    font-family: "Papyrus";
}

.flex-container h2{
    color: black; 
    font-weight: bold;
    font-size: 35px;
    font-family: "Papyrus";
    margin-left: 50px; 
}


 

button, #startgame{
    margin-top: 30px; 
    width: 147px;
    height: 43px;
    background-color:#FFCC76;
    border-radius: 20px; 
    font-family: "Papyrus";

}

#startgame, #game{
    margin-left: 50px; 
}

#quit{
    margin-top: 120px; 
    margin-left: 240px; 
    font-family: "Papyrus";
}

#p_1, #p_2{
    display: inline-block; 
}

.in_coin{
    display: inline-block; 
}

.hidden{
    display:none; 
}

#game{
    margin-left: 50px; 
}

#quit{
    display: none; 
    margin-right: 50px;
    margin-top: 50px; 
     
}



a, ul{
    color: black; 
    list-style-type: none; 
}


footer ul {
    position: absolute; 
    bottom: 15px; 
    left: 45%; 
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    list-style-type: none;
}

footer li {
    display: inline-block;
}

footer a {
    color: darkgray;
    text-decoration: none;
}

footer a:hover {
    color: black;
}




 